// Place all the styles related to the gajimas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hard{
    font-weight: bold;
    color:rgb(255,97,97);

}
.mainText{
    background-color: white;
    padding: 0.188em 0.625em 0.313em 0.625em;
    margin-top: 1.250em;
    margin-bottom: 1.250em;
    width: 56.250em;
}
.mainText2{
        width: 56.250em;
    
}
.first{
}
.participate{
    padding: 0.188em 0.625em 0.313em 0.625em;
    background-color: white;
    height: 17em;

    
}
.introduce{
    padding: 0.188em 0.625em 0.313em 0.625em;
    background-color: white;
    height: 17em;

}
.icon{
    font-weight: bolder;
}
.newpost{

}
.section3{
    width: 56.250em;
    margin-top: 1.875em;
    
}
.edit{
    background-color: white;
    padding: 0.188em 0.625em 0.313em 0.625em;
    margin-bottom: 1.250em;
    width: 56.250em;
    height: 28.125em;
    
}

.fieldt{
    white-space: pre;
}

